@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap'); 


body {
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Varela Round', sans-serif;
    color: #1E3050;
}

table-border-changer.table-border-color{
    border:1px solid blue;
    margin-top:20px;
}
table-border-changer.table-border-color > thead > tr > th{
    border:1px solid blue;
}
table-border-changer.table-border-color > tbody > tr > td{
    border:1px solid blue;
}